body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url('http://fonts.cdnfonts.com/css/lilly');
.App{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 50px;
padding-top: 30px;
}
h1{
margin-top: 20px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 50px;
}
.input_box{
margin-top: -3%;
}

.gen input{
  height: 18px;
  width: 32em;
  font-size: 18px;
  padding-left: 5px;
}
.extra{
  height: 18px;
  width: 25em;
  font-size: 20px;
  padding-left: 5px;
  }
/* .SvgButton{
position: relative;
height: 38px;
top: -2px;
font-size: 18px;
border: none;
color: whitesmoke;
background-color: forestgreen;
cursor: pointer;
} */

button{
  position: relative;
  height: 38px;
  /* width: 100px; */
  top: -2px;
  font-size: 18px;
  border: none;
  color: whitesmoke;
  background-color: forestgreen;
  /* box-shadow: 2px 2px 5px rgb(74, 182, 74); */
  cursor: pointer;
}

button:active{
box-shadow: none;
}
.extra{
padding-top: 20px;
display: flex;
justify-content: space-around;
gap: 10px;
}
.output-box{
display: flex;
flex-direction: column;
align-items: center;
gap: 40px;
}
